@model ResourceApplicationTool.Models.Department
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Styles/Department/departmentsCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/Department/departmentsDisplayStyle.css" rel="stylesheet" />
<script>
    var departmentID = "@Model.DepartmentID";
</script>

@if (Model.BannerImageID.HasValue)
{
    <div class="mainHeaderLogo departments-logo departments-custom-logo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"
         style="background-image: url('@(ViewBag.baseUrl + Const.PicturePaths.ImgControllerRoot + Model.File.FileID.ToString())');"></div>
}
else
{
    <div class="mainHeaderLogo departments-logo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
}
<div>
    <div class="form-group profile-header-container">
        @if (Model.MainImageID.HasValue)
        {
            <div id="main-profile-picture-div" class="department-main-picture " style="background-image: url('@(ViewBag.baseUrl + Const.PicturePaths.ImgControllerRoot + Model.File1.FileID.ToString())');"></div>
        }
        else
        {
            <div id="main-profile-picture-div" class="department-main-picture" style="background-image: url('/Content/Pictures/masterpagepic.jpg');"></div>
        }

        <div class="profile-header">
            
                <h4 class="sec-title-large sec-title"> @Model.Title</h4>
                @if (ViewBag.canEdit)
                {
                    @Html.ActionLink("Edit", "Edit", new { @id = Model.DepartmentID }, new { @class = "btn-primary edit-department-button", @id = Model.DepartmentID })
                    if ((User.Identity.IsAuthenticated && Session[Const.CLAIM.USER_ACCESS_LEVEL] != null
                         && Session[Const.CLAIM.USER_ACCESS_LEVEL] != null
                         && Session[Const.CLAIM.USER_ACCESS_LEVEL].ToString() == Const.PermissionLevels.Administrator))
                    {
                        @Html.ActionLink("Delete", "Delete", new { @id = Model.DepartmentID }, new { @class = "btn-danger edit-department-button", @id = Model.DepartmentID })

                    }
                    <button type="button" id='generate-report' class="btn-primary btn-warning download-report-button">Download Monthly Report</button>
                }
                
               
        </div>
    </div>
</div>
<div class="main-form-container">
    <div class="main_expandable">
        <div class="tvd-sub-header">
            <table>
                <tr>
                    <td>
                        <a class="main_expand_collapse">
                            <img class="expandimg" src="~/Content/Pictures/expand-sign.png" title="expand" height="18" width="18" align="absbottom" style="display: none;">
                            <img class="collapseimg" src="~/Content/Pictures/collapse-sign.png" title="collapse" height="18" width="18" align="absbottom" style="display: inline;">
                        </a>
                    </td>
                    <td>
                        <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                            Organizational Information
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row expandable-content">
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3">
                    @Html.DisplayNameFor(model => model.MaxSize)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.DisplayFor(model => model.MaxSize)
                </div>
            </div>

            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.StartDate)
                </div>
                <div class="col-md-9 col-sm-9">
                    @String.Format("{0:MM/dd/yyyy}", Model.StartDate)
                </div>
            </div>

            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.MonthlyExpenses)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.DisplayFor(model => model.MonthlyExpenses)
                </div>
            </div>

            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name full-row col-md-12 col-sm-12">
                    Department Description
                </div>
                <div class="col-md-12 col-sm-12 full-row department-description ">
                    @Html.DisplayFor(model => model.DeptDescription)
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <button type="button"
            class="btn btn-default btn-inverse"
            id="cancel"
            onclick="window.history.back()">
        <i class="icon-remove icon-large"></i>
        Cancel
    </button>
</p>

<h2 class="sec-title-large sec-title carousel-header"> Employees in this department </h2>
@if (Model.Employees == null || Model.Employees.Count == 0)
{
    <h3 class="sec-title-large sec-title carousel-header carousel-empty-header">This department currently has no employees</h3>
}
<div class="row">
    <div class="carousel-depts">
        @foreach (Employee emp in Model.Employees)
        {
     
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 department-item">

                <figure class="view third-effect">
                    @if (emp.ProfileImageID.HasValue)
                    {
                        <div class="small_sweepimage" style="background-image:url('@(ViewBag.baseUrl + Const.PicturePaths.ImgControllerRoot + emp.File.FileNumber )');"></div>
                    }
                    else
                    {
                        <div class="small_sweepimage" style="background-image:url('../../Content/Pictures/default-profile-picture.png');"></div>
                    }

                    <div class="mask clickable-mask" onclick="redirectToUrl('/Departments/Details/@emp.EmployeeID')">
                        <a href="" class="info">Read More</a>
                    </div>

                    <div class="mask">
                        <a href="/Employees/Details/@emp.EmployeeID" class="info">Read More</a>
                    </div>

                </figure>
                <div class="mask-background-parent">
                    <div class="mask-background">
                        <div class="mask-front">
                            <div class="stat sec-sweep-title ">
                                <div class="stat-sec sweep-stat">
                                    <h2 class="limited-container dept-title">@emp.FirstName @emp.LastName</h2>
                                </div>
                                <div class="sweep_stat_right">
                                    <div class="stat-sec banner-stat-right">
                                        <div class="secondary-dept-field">
                                            @if (emp.Role != null && !String.IsNullOrEmpty(emp.Role.Name))
                                            {
                                                <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/role-icon.png" alt="" height="28" width="28">
                                                <p class="banner-bold-value department-secondary-label"> @((emp.Role != null && !String.IsNullOrEmpty(emp.Role.Name)) ? emp.Role.Name : "Not selected") </p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stat-sec stat-sec-bottom banner-stat-right">
                                <div class="secondary-dept-field full-row-field">
                                    <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/phone-icon.png" alt="" height="28" width="28">
                                    <p class="banner-bold-value department-secondary-label"> @emp.PhoneNumber </p>
                                </div>
                                <div class="secondary-dept-field full-row-field">
                                    <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/mail-icon.png" alt="" height="28" width="28">
                                    <p class="banner-bold-value department-secondary-label"> @emp.Email </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<h2 class="sec-title-large sec-title carousel-header"> Projects developed by this department </h2>
@if (Model.Employees == null || Model.Employees.Count == 0)
{
    <h3 class="sec-title-large sec-title carousel-header carousel-empty-header">This department currently isn't developing any projects</h3>
}
<div class="row">
    <div class="carousel-depts">
        @foreach (Project proj in Model.Projects)
        {

            <!--<div class="wip-div" ></div>-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 department-item carousel-item carousel-item-nopicture ">
                <div class="mask-background-parent">
                    <div class="mask-background">

                        <div class="mask-front">
                            <div class="stat sec-sweep-title">

                                <div class="stat-sec sweep-stat slick-main-header">
                                    <h2 class="limited-container">@proj.Title</h2>
                                </div>
                                <figure class="view third-effect">
                                    <div>
                                        <div class="stat-row">
                                            <div class="secondary-pj-field container-padding">
                                                <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/calendar-icon.png" alt="" height="28" width="28">
                                                <p class="project-secondary-label"></p>
                                            </div>
                                            <div class="secondary-pj-field  container-value">
                                                <p class="project-secondary-label">
                                                    <span class="field-name">Start:</span>
                                                    @String.Format("{0:MM/dd/yyyy}", proj.StartDate)
                                                </p>
                                            </div>
                                            <div class="secondary-pj-field ">
                                                <p class="project-secondary-label">
                                                    <span class="field-name">End:</span>
                                                    @String.Format("{0:MM/dd/yyyy}", proj.EndDate)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="stat-row">
                                            <div class="secondary-pj-field container-padding">
                                                <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/effort-icon.png" alt="" height="28" width="28">
                                                <p class="project-secondary-label"></p>
                                            </div>
                                            <div class="secondary-pj-field">
                                                <p class="project-secondary-label">
                                                    <span class="field-name">Effort in man days:</span>
                                                    @proj.ManDaysEffort
                                                </p>
                                            </div>

                                        </div>
                                        <div class="stat-row">
                                            <div class="secondary-pj-field container-padding">
                                                <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/department-icon.png" alt="" height="28" width="28">
                                                <p class="project-secondary-label"></p>
                                            </div>
                                            <div class="secondary-pj-field">
                                                <p class="project-secondary-label">
                                                    <span class="field-name dept-information-container" departmentId="@proj.Department.DepartmentID">Department:</span>
                                                    <!--<a href="/Departments/Details/@proj.DepartmentID">-->
                                                    @((proj.Department != null && !String.IsNullOrEmpty(proj.Department.Title)) ? proj.Department.Title : "")
                                                    <!--</a>-->
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="stat-row sec-pj-detail-label">
                                        <div>
                                            <p class="project-secondary-label ">
                                                <span class="field-name">Project Details</span>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="sec-pj-detail">
                                        @proj.PJDescription
                                    </div>
                                    <div class="mask clickable-mask" onclick="redirectToUrl('/Projects/Details/@proj.ProjectID')">
                                        <a href="" class="info">Read More</a>
                                    </div>

                                    <div class="mask">
                                        <a href="/Projects/Details/@proj.ProjectID" class="info">Read More</a>
                                    </div>

                                </figure>
                                <div class="bottom-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id='dialog-modal' class='modal' data-project='@Model.DepartmentID'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select the report's month</h4>
    </div>
    <div class="modal-body">
        <div id='modal-body-content'>

            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    <span class="month-label">Month</span>
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.DropDownList("Month-Selector", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "excel-month-input" })
                </div>
            </div>
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name full-row col-md-3 col-sm-3">
                    <span>Year</span>
                </div>
                <div class="col-md-9 col-sm-9">
                    <input id="excel-year-input" type="number" value="@DateTime.Now.ToString("yyyy")" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="get-report" type="button" class="btn btn-primary">Download Report</button>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker");
    @Scripts.Render("~/Content/bootstrap-sliderjs");

    @Styles.Render("~/Content/bootstrap-datepickercss");
    @Styles.Render("~/Content/bootstrap-slidercss");
    @Styles.Render("~/Content/jquery-uicss");
}

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/departments/departments-common.js"></script>
<script src="~/Scripts/departments/departments-display.js"></script>
