<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/slickcss")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slick")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)

    @if (ViewBag.hrefVal != null && ViewBag.showBaseHref != null && ViewBag.showBaseHref == true)
    {
        <base href="@ViewBag.hrefVal">
    }

</head>
<body>
    <div class="main-container">
        @RenderBody()
    </div>
</body>
</html>