@model ResourceApplicationTool.Models.Employee
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;

@{
    Layout = null;
}

@Html.Partial("~/Views/Notifications/EditorTemplates/NotificationsStyle.cshtml", null)

<div class="main_container">
    <div class="main_expandable">
        <h3 class="tvd-sub-header">A new event has been scheduled</h3>
        <div class="content-box">
            <p>Performance Review for @Model.FirstName @Model.LastName</p>
            @*<p>The performance review can be found at the following address: 
                <a href="http://localhost:9919/Events/Details/@Model.id">all upcoming events </a> </p>
            *@
            <p>Navigate to the following page in order to see <a href="http://localhost:9919/Events">all upcoming events </a>.</p>
        </div>
    </div>
</div>


@*<html>
<head>
</head>
<body>
   <p>Performance Review for @Model.FirstName @Model.LastName</p>
   <br /><br />
   <p>Test Embeded</p>
   <br />
   <p>Test Ending</p>
   <br />
</body>
</html>*@