@model ResourceApplicationTool.Models.Employee
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var EmployeeID = "@Model.EmployeeID";
</script>

<link href="~/Content/Styles/Employee/employeesCommonStyle.css" rel="stylesheet">
<link href="~/Content/Styles/Login/user_profile.css" rel="stylesheet">
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" /> 

<div class="content-row">

    @{Html.RenderPartial("~/Views/Login/LoginMenu.cshtml", null, ViewData);}

    <div  class="content-box">
        <div class="profile_summary">
            <div class="tvd-sub-header">
                <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                    Profile Summary
                </h1>
            </div>

            <div class="row expandable-content">
                <div id="main-profile-picture-div" class="user-profile-picture" style="background-image: url('@ViewBag.ImgIDSec');"></div>
                <div class="profile-header">
                    <h4 class="sec-title-large sec-title"> @Model.FirstName @Model.LastName </h4>
                    <h5 class="sec-title-small sec-title sec-title-italic"> @ViewBag.RoleName </h5>
                    <hr class="title-hr">
                </div>

            </div>

                <div class="row expandable-content">
                    <div class="form-group subsection col-md-12 col-lg-6 col-sm-12 col-xs-12">
                        <div class="field-name col-md-5 col-sm-5 col-xs-5 control-label">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 ">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group subsection col-md-12 col-lg-6 col-sm-12 col-xs-12">
                        <div class="field-name col-md-5 col-sm-5  col-xs-5 control-label">
                            Phone Number
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 ">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                    </div>
                    <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="field-name col-md-5 col-sm-5 col-xs-5 control-label">
                            Manager
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            @if (Model.Employee1 != null)
                            {
                                @Html.ActionLink(Model.Employee1.FirstName + " " + Model.Employee1.LastName, "Details", new { @id = Model.ManagerID })
                            }

                        </div>
                    </div>
                    <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="field-name col-md-5 col-sm-5 col-xs-5 control-label">
                            Department
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            @if (Model.Department != null)
                            {
                                @Html.ActionLink(Model.Department.Title, "Details", "Departments", new { @id = Model.DepartmentID }, null)
                            }
                        </div>
                    </div>
                    <div class="form-group bottom-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <a class="more-info" href="/Employees/Details/@Model.EmployeeID"> View full profile here!</a>
                    </div>
                </div>
            </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker");
    @Scripts.Render("~/Content/bootstrap-sliderjs");
    @*@Scripts.Render("~/bundles/jquery-uijs");*@


    @Styles.Render("~/Content/bootstrap-datepickercss");
    @Styles.Render("~/Content/bootstrap-slidercss");
    @Styles.Render("~/Content/jquery-uicss");
}
