@model ResourceApplicationTool.Models.SecondaryModels.MainSearchResult
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Department/departmentsCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/search.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />


<div class="mainHeaderLogo search-logo logo-details" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>


<div class="main-items-container ">

    <div class="text-info">
        <h2 class="sec-title-huge sec-title projects-title">Search</h2>
    </div>
    <hr class="sec-hr title-hr" />
</div>

<div class="query-container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="text" 
               name="query" 
               value="@(!String.IsNullOrEmpty(ViewBag.query) ? ViewBag.query:"")" 
               class="main-search-input query-input form-control" 
               autocomplete="off">
        <input type="submit" 
               value="Search!" 
               class="btn btn-warning" />
        <div>
            <label for="emp_radio">Employee</label> <input type="radio" name="filter" id="emp_radio" value="Employee" />
            <label for="dept_radio">Departments</label> <input type="radio" name="filter" id="dept_radio" value="Department" />
            <label for="pj_radio">Project</label> <input type="radio" name="filter" id="pj_radio" value="Project" />
        </div>

    }
    
</div>

<div class="results-container">
</div>

@if(ViewBag.searchDone!=null && !ViewBag.searchDone)
{

    <div class="warning-container">
        <img src="~/Content/Pictures/warning-icon.png"/>
        <h3 class="sec-title-large sec-title warning-header" > Please try again with a more specific query</h3>
    </div>

}
else if (!ViewBag.filteredData != null && ViewBag.searchDone!= null && !ViewBag.filteredData && ViewBag.searchDone)
{
    if (ViewBag.dataIsOmitted != null && ViewBag.dataIsOmitted)
    {
        <div class="warning-container">
            <img src="~/Content/Pictures/warning-icon.png" />
            <h3 class="sec-title-large sec-title warning-header">The query returned too many results. Only some of them will be displayed.Please use a different query and/or a filter and try again.</h3>
        </div>
    }

    if (Model.employeeSearchResults != null && Model.employeeSearchResults.Count > 0)
    {
        <h2 class="sec-title-large sec-title carousel-header"> Employees found </h2>
        <div class="row">
            <div class="carousel-depts">
                @foreach (Employee emp in Model.employeeSearchResults)
                {
                    Html.RenderPartial("~/Views/Employees/PartialEmployee.cshtml", emp, ViewData);
                }
            </div>
        </div>
    }
    if (Model.projectSearchResults != null && Model.projectSearchResults.Count > 0)
    {
        <h2 class="sec-title-large sec-title carousel-header"> Projects found </h2>
        <div class="row">
            <div class="carousel-depts">
                @foreach (Project proj in Model.projectSearchResults)
                {
                    Html.RenderPartial("~/Views/Projects/PartialProject.cshtml", proj, ViewData);
                }
            </div>
        </div>
    }

    if (Model.departmentSearchResults != null && Model.departmentSearchResults.Count > 0)
    {
            <h2 class="sec-title-large sec-title carousel-header"> Departments found </h2>
            <div class="row">
                <div class="carousel-depts">
                    @foreach (Department dept in Model.departmentSearchResults)
                    {
                        Html.RenderPartial("~/Views/Departments/PartialDepartment.cshtml", dept, ViewData);
                    }
            </div>
        </div>
    }
}
else if (ViewBag.searchDone != null && !ViewBag.filteredData != null && ViewBag.filteredData == true && ViewBag.searchDone == true)
{
    if (!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "employee")
    {
        <h2 class="sec-title-large sec-title carousel-header"> Employees </h2>
        <table class="table table-striped table-bordered">
            <thead>
               
            </thead>
            <tbody>
                    @foreach (Employee emp in Model.pagedEmployees)
                    {
                        <tr>
                            <td> @(emp.FirstName + " " + emp.LastName) </td>
                            <td> @emp.Department.Title </td>
                            <td> @(emp.Role != null ? emp.Role.Name : "") </td>
                            <td> @emp.HireDate </td>
                        </tr>
                    }             
            </tbody>
        </table>
        <br/>

        <div>
            Page @(Model.pagedEmployees.PageCount < Model.pagedEmployees.PageNumber ? 0 : Model.pagedEmployees.PageNumber) of @Model.pagedEmployees.PageCount
            @Html.PagedListPager(Model.pagedEmployees, page => Url.Action("Index",
                new { page, query = ViewBag.query, filter = ViewBag.filter }))
        </div>
    }
}





<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/search_main.js"></script>
