@model ResourceApplicationTool.Models.SecondaryModels.MainSearchResult
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Department/departmentsCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/search.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/arrows.css" rel="stylesheet" />

<div class="mainHeaderLogo search-logo logo-details" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>


<div class="main-items-container ">

    <div class="text-info">
        <h2 class="sec-title-huge sec-title projects-title">Search</h2>
    </div>
    <hr class="sec-hr title-hr" />
</div>

<div class="query-container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="main-search-table">
            <tr>
                <td class="search-input-td">
                    <input type="text" 
                           name="query" 
                           value="@(!String.IsNullOrEmpty(ViewBag.query) ? ViewBag.query:"")" 
                           class="main-search-input query-input form-control" 
                           autocomplete="off" />
                </td>
                <td class="search-button-td">
                    <input type="submit" 
                           value="Search" 
                           class="btn btn-warning main-search-button" />
                </td>
            </tr>
        </table>
        <div class="filter-container main_expandable">
            <div class="tvd-sub-header">
                <table>
                    <tr>
                        <td>
                            <a class="main_expand_collapse">
                                <img class="expandimg" src="~/Content/Pictures/expand-sign.png" title="expand" height="18" width="18" align="absbottom" style="display: none;">
                                <img class="collapseimg" src="~/Content/Pictures/collapse-sign.png" title="collapse" height="18" width="18" align="absbottom" style="display: inline;">
                            </a>
                        </td>
                        <td>
                            <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                                Filters
                            </h1>
                        </td>
                    </tr>
                </table>
            </div>
            <ul class="filter-list">
                <li>
                    <label for="all_radio" class="sec-title-medium">All Results</label>
                    <input type="radio" name="filter" id="all_radio" value="All"
                            @((!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "all") ? "checked='true'" : "") />
                </li>
                <li>
                    <label for="emp_radio" class="sec-title-medium">Employees</label>
                    <input type="radio" name="filter" id="emp_radio" value="Employee"
                            @((!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "employee") ? "checked='true'" : "") />
                </li>
                <li>
                    <label for="dept_radio" class="sec-title-medium">Departments</label>
                    <input type="radio" name="filter" id="dept_radio" value="Department"
                            @((!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "department") ? "checked='true'" : "") />
                </li>
                <li>
                    <label for="pj_radio" class="sec-title-medium">Projects</label>
                    <input type="radio" name="filter" id="pj_radio" value="Project"
                            @((!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "project") ? "checked='true'" : "") />
                </li>
            </ul>
            </div>

        <input type="hidden"  name="secondaryFilter" value="@(!String.IsNullOrEmpty(ViewBag.secondaryFilter)?ViewBag.secondaryFilter:"")" />
    }
    
</div>

<div class="results-container">
</div>

@if(ViewBag.searchDone!=null && !ViewBag.searchDone)
{

    <div class="warning-container">
        <img src="~/Content/Pictures/warning-icon.png"/>
        <h3 class="sec-title-large sec-title warning-header" > Please try again with a more specific query</h3>
    </div>

}
else if (!ViewBag.filteredData != null && ViewBag.searchDone!= null && !ViewBag.filteredData && ViewBag.searchDone)
{
    if (ViewBag.dataIsOmitted != null && ViewBag.dataIsOmitted)
    {
        <div class="warning-container">
            <img src="~/Content/Pictures/warning-icon.png" />
            <h3 class="sec-title-large sec-title warning-header">The query returned too many results. Only some of them will be displayed.Please use a different query and/or a filter and try again.</h3>
        </div>
    }

    if (Model.employeeSearchResults != null && Model.employeeSearchResults.Count > 0)
    {
        <h2 class="sec-title-large sec-title carousel-header"> Employees found </h2>
        <div class="row">
            <div class="carousel-depts">
                @foreach (Employee emp in Model.employeeSearchResults)
                {
                    Html.RenderPartial("~/Views/Employees/PartialEmployee.cshtml", emp, ViewData);
                }
            </div>
        </div>
    }
    if (Model.projectSearchResults != null && Model.projectSearchResults.Count > 0)
    {
        <h2 class="sec-title-large sec-title carousel-header"> Projects found </h2>
        <div class="row">
            <div class="carousel-depts">
                @foreach (Project proj in Model.projectSearchResults)
                {
                    Html.RenderPartial("~/Views/Projects/PartialProject.cshtml", proj, ViewData);
                }
            </div>
        </div>
    }

    if (Model.departmentSearchResults != null && Model.departmentSearchResults.Count > 0)
    {
            <h2 class="sec-title-large sec-title carousel-header"> Departments found </h2>
            <div class="row">
                <div class="carousel-depts">
                    @foreach (Department dept in Model.departmentSearchResults)
                    {
                        Html.RenderPartial("~/Views/Departments/PartialDepartment.cshtml", dept, ViewData);
                    }
            </div>
        </div>
    }
}
else if (ViewBag.searchDone != null && !ViewBag.filteredData != null && ViewBag.filteredData == true && ViewBag.searchDone == true)
{
    if (!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "employee")
    {
        Html.RenderPartial("~/Views/Search/PagedEmployees.cshtml", Model.pagedEmployees, ViewData);
    }
    else if (!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "department")
    {
        Html.RenderPartial("~/Views/Search/PagedDepartments.cshtml", Model.pagedDepartments, ViewData);
    }
    else if (!String.IsNullOrEmpty(ViewBag.filter) && ViewBag.filter.ToLower() == "project")
    {
        Html.RenderPartial("~/Views/Search/PagedProjects.cshtml", Model.pagedProjects, ViewData);
    }
}





<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/search_main.js"></script>
