@model ResourceApplicationTool.Models.Skill
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Roles/RolesCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/Roles/RolesEditStyle.css" rel="stylesheet" />

<div class="mainHeaderLogo settings-logo logo-details" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>


<h2 class="sec-title-huge sec-title main-form-header">Delete @Model.Title</h2>
<hr class="sec-hr" />

<div class="main-items-container form-horizontal">
    <div class="main_expandable">
        <div class="tvd-sub-header">
            <table>
                <tr>
                    <td>
                        <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                            General Information
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row expandable-content">
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6">Category</div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @Html.DisplayFor(model => model.CategoryID)
                </div>
            </div>
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12" style="clear:both">
                <div class="field-name full-row  col-md-2 col-lg-2 col-sm-3 col-xs-12 right-align-not-xs">
                    Description
                </div>
                <div class="col-md-10 col-lg-10 col-sm-9 col-xs-12 full-row">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger edit-department-button" />
        <button type="button"
                class="btn btn-default btn-inverse"
                id="cancel"
                onclick="window.history.back()">
            <i class="icon-remove icon-large"></i>
            Cancel
        </button>
    </div>
}
