@model IEnumerable<ResourceApplicationTool.Models.Employee>
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Department/departmentsCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/Employee/employeesCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/Department/departmentsIndexStyle.css" rel="stylesheet" />

<div class="mainHeaderLogo employees-logo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>

<div class="main-items-container">

    <div class="text-info">
        <h2 class="sec-title-huge sec-title departments-title">Employees</h2>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn-primary add-new-button" })
    </div>
    <hr class="sec-hr title-hr" />

    <div class="slick-filter">
        <h2 class="sec-title-medium sec-title filter-title">Department:</h2>
        <select class="form-control filter-select">
            <option value="0">Please select a department</option>
            @foreach (Department dept in ViewBag.departments)
            {
                <option value="@dept.DepartmentID">@dept.Title</option>
            }
        </select>
    </div>

    <div class="slick-section row">
        <div class="carousel-depts">
            @foreach (Employee emp in Model)
            {

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 carousel-item">

                    <figure class="view third-effect">
                        @if (emp.ProfileImageID.HasValue)
                        {
                            <div class="small_sweepimage" style="background-image:url('@(ViewBag.baseUrl + Const.PicturePaths.ImgControllerRoot + emp.File.FileNumber )');"></div>
                        }
                        else
                        {
                            <div class="small_sweepimage" style="background-image:url('../../Content/Pictures/default-profile-picture.png');"></div>
                        }

                        <div class="mask clickable-mask" onclick="redirectToUrl('/Departments/Details/@emp.EmployeeID')">
                            <a href="" class="info">Read More</a>
                        </div>

                        <div class="mask">
                            <a href="/Employees/Details/@emp.EmployeeID" class="info">Read More</a>
                        </div>

                    </figure>
                    <div class="mask-background-parent">
                        <div class="mask-background">
                            <div class="mask-front">
                                <div class="stat sec-sweep-title ">
                                    <div class="stat-sec sweep-stat">
                                        <h2 class="limited-container dept-title">@emp.FirstName @emp.LastName</h2>
                                    </div>
                                    <div class="stat-sec sweep-stat">
                                        @if (emp.Department != null && !String.IsNullOrEmpty(emp.Department.Title))
                                        {
                                            <h2 class="limited-container dept-title dept-information-container" departmentId="@emp.Department.DepartmentID" >
                                            
                                                @((emp.Department.Title != null && !String.IsNullOrEmpty(emp.Department.Title))
                                                            ? emp.Department.Title : "Idle")
                                           
                                            </h2>
                                        }
                                    </div>
                                </div>
                                <div class="stat-sec stat-sec-bottom banner-stat-right">
                                    <div class="secondary-dept-field full-row-field">
                                        <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/phone-icon.png" alt="" height="28" width="28">
                                        <p class="banner-bold-value department-secondary-label"> @emp.PhoneNumber </p>
                                    </div>
                                    <div class="secondary-dept-field full-row-field">
                                        <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/mail-icon.png" alt="" height="28" width="28">
                                        <p class="banner-bold-value department-secondary-label"> @emp.Email </p>
                                    </div>
                                    <div class="secondary-dept-field full-row-field">
                                        @if (emp.Role != null && !String.IsNullOrEmpty(emp.Role.Name))
                                        {
                                            <img class="banner-icon department-secondary-label department-banner-icon" src="~/Content/Pictures/role-icon.png" alt="" height="28" width="28">
                                            <p class="banner-bold-value department-secondary-label"> @((emp.Role != null && !String.IsNullOrEmpty(emp.Role.Name)) ? emp.Role.Name : "Not selected") </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/employees/employees_common.js"></script>
<script src="~/Scripts/employees/employees-index.js"></script>
