@using SingleSignOn.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/masterpageStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/Login/user_profile.css" rel="stylesheet" />
<link href="~/Content/Styles/SingleSignOnStyle/LoginPage.css" rel="stylesheet" />

<div class="parent-row">
    <div class="content-box">
        <div class="profile_summary">
            <div class="tvd-sub-header">
                <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                    Login
                </h1>
            </div>
            <div class="row expandable-content">
                @using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 label-container">
                            @Html.LabelFor(m => m.Username, new {  @class = "control-label" } )
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
                            @Html.TextBoxFor(model => model.Username, new
                            {
                                @class = "form-control"

                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5 label-container">
                            @Html.LabelFor(m => m.Password,new { @class = "control-label" } )
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
                            @Html.PasswordFor(model => model.Password, new
                           {
                               @class = "form-control"

                           })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.rememberMe)
                               <label for="rememberMe">Remember me?</label>
                            </div>
                        </div>
                    </div>
                    <div class="left">
                       
                    </div>
                    <div>
                        <input type="submit" class="form-control login-button" value="Login" />
                    </div>
                    }
                </div>
        </div>
    </div>
</div>