@model ResourceApplicationTool.Models.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Projects/projectsCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />

<div class="mainHeaderLogo projects-logo logo-details" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>

<h2 class="sec-title-huge sec-title main-form-header">Add a new project</h2>
<hr class="sec-hr" />

<div class="main-form-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="main_expandable">
            <div class="tvd-sub-header">
                <table>
                    <tr>
                        <td>
                            <a class="main_expand_collapse">
                                <img class="expandimg" src="~/Content/Pictures/expand-sign.png" title="expand" height="18" width="18" align="absbottom" style="display: none;">
                                <img class="collapseimg" src="~/Content/Pictures/collapse-sign.png" title="collapse" height="18" width="18" align="absbottom" style="display: inline;">
                            </a>
                        </td>
                        <td>
                            <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                                General Information
                            </h1>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row expandable-content">
                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.EditorFor(model => model.ContractNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.DepartmentID, "DepartmentID", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                   @Html.LabelFor(model => model.ContactID1, "ContactID", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.DropDownList("ContactID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContactID1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3" })
                    <div class="col-md-9 col-sm-9">
                        @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12" style="clear:both">
                    <div class="field-name full-row  col-md-2 col-lg-2 col-sm-3 col-xs-12 right-align-not-xs">
                       Project Description
                    </div>
                    <div class="col-md-10 col-lg-10 col-sm-9 col-xs-12 full-row">
                       @Html.EditorFor(model => model.PJDescription, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.PJDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/projects/projects_common.js"></script>
<script src="~/Scripts/projects/projects_new.js"></script>