@model ResourceApplicationTool.Models.Project
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Angular Initialization-->
<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- Polyfill(s) for older browsers -->
<script src="/node_modules/core-js/client/shim.min.js"></script>

<script src="/node_modules/zone.js/dist/zone.js"></script>
<script src="/node_modules/reflect-metadata/Reflect.js"></script>
<script src="/node_modules/systemjs/dist/system.src.js"></script>
<!-- Configure SystemJS -->
<script src="/systemjs.config.js"></script>

<script src="~/app/context-menu/angular2-contextmenu.js"></script>

<link href="~/Content/Styles/Projects/projectsCommonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/Projects/projectsDetailsStyle.css" rel="stylesheet" />
<link href="~/Content/Styles/ng2-nouislider.min.css" rel="stylesheet"/>


<script>
    var projectID = "@Model.ProjectID";
    var accessLevel = "@ViewBag.userAccess";
</script>
<script>
    //angular entry point
      System.import('app').catch(function(err){ console.error(err); });
</script>


<div class="mainHeaderLogo projects-logo logo-details" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>

<div class="main-form-container no-avatar projects-container">
    <div class="form-group main-form-group profile-header-container">
        <div class="text-info">
            <h2 class="sec-title-large sec-title page-buttons-title"> @Model.Title</h2>
            @if (ViewBag.userAccess == Const.PermissionLevels.Manager || ViewBag.userAccess == Const.PermissionLevels.Administrator)
            {
                @Html.ActionLink("Edit", "Edit", new { @id = Model.ProjectID }, new { @class = "btn-primary add-new-button", @id = Model.ProjectID })
                @Html.ActionLink("Delete", "Delete", new { @id = Model.ProjectID }, new { @class = "btn-danger add-new-button", @id = Model.ProjectID })
            }
            <button type="button" id='generate-report' class="btn-primary btn-warning download-report-button">
                <span class="regular-text">Download Monthly Report</span>
                <span class="small-text">Report</span>
            </button>
        </div>
        <hr class="title-hr" />
    </div>
</div>
<div>
    <div class="main_expandable">
        <div class="tvd-sub-header">
            <table>
                <tr>
                    <td>
                        <a class="main_expand_collapse">
                            <img class="expandimg" src="~/Content/Pictures/expand-sign.png" title="expand" height="18" width="18" align="absbottom" style="display: none;">
                            <img class="collapseimg" src="~/Content/Pictures/collapse-sign.png" title="collapse" height="18" width="18" align="absbottom" style="display: inline;">
                        </a>
                    </td>
                    <td>
                        <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                            General Information
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row expandable-content">
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6 control-label">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6">
                    @Html.DisplayNameFor(model => model.ContractNumber)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @Html.DisplayFor(model => model.ContractNumber)
                </div>
            </div>
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6 control-label">
                    @Html.DisplayNameFor(model => model.DepartmentID)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @if (Model.Department != null)
                    {
                        @Html.ActionLink(Model.Department.Title, "Details", "Departments", new { @id = Model.DepartmentID }, null)
                    }
                </div>
            </div>
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6 control-label">
                    @Html.DisplayNameFor(model => model.Budget)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @Html.DisplayFor(model => model.Budget)
                </div>
            </div>
        </div>
    </div>

    <div class="main_expandable">
        <div class="tvd-sub-header">
            <table>
                <tr>
                    <td>
                        <a class="main_expand_collapse">
                            <img class="expandimg" src="~/Content/Pictures/expand-sign.png" title="expand" height="18" width="18" align="absbottom" style="display: none;">
                            <img class="collapseimg" src="~/Content/Pictures/collapse-sign.png" title="collapse" height="18" width="18" align="absbottom" style="display: inline;">
                        </a>
                    </td>
                    <td>
                        <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                            Project Specifics
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row expandable-content">
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6 control-label">
                    @Html.DisplayNameFor(model => model.StartDate)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @String.Format("{0:MM/dd/yyyy}", Model.StartDate)
                </div>
            </div>

            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 col-xs-6 control-label">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    @String.Format("{0:MM/dd/yyyy}", Model.EndDate)
                </div>
            </div>
            <div class="form-group subsection col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="field-name full-field-name full-row col-md-12 col-sm-12">
                    Project Description
                </div>
                <div class="col-md-12 col-sm-12 full-row">
                    @Html.DisplayFor(model => model.PJDescription)
                </div>
            </div>
        </div>
    </div>
</div>


<div class="angular-component">
    <pm-app></pm-app>
</div>

<div id='dialog-modal' class='modal' data-project='@Model.ProjectID'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select the report's month</h4>
    </div>
    <div class="modal-body">
        <div id='modal-body-content'>
            
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                   <span class="month-label">Month</span>
                </div>
                <div class="col-md-9 col-sm-9">
                   @Html.DropDownList("Month-Selector", ViewBag.Months as IEnumerable<SelectListItem>, new { @class = "form-control", @id="excel-month-input" })
                </div>
            </div>
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name full-row col-md-3 col-sm-3">
                    <span>Year</span>
                </div>
                <div class="col-md-9 col-sm-9">
                    <input id="excel-year-input" type="number" value="@DateTime.Now.ToString("yyyy")" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="get-report" type="button" class="btn btn-primary">Download Report</button>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datepicker");
    @Scripts.Render("~/Content/bootstrap-sliderjs");

    @Styles.Render("~/Content/bootstrap-datepickercss");
    @Styles.Render("~/Content/bootstrap-slidercss");
    @Styles.Render("~/Content/jquery-uicss");
}

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/projects/projects_common.js"></script>
<script src="~/Scripts/projects/projects_details.js"></script>