@model ResourceApplicationTool.Models.Project
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;

<div id="project-@Model.ProjectID" class="main_expandable col-lg-12 col-md-12 col-sm-12 col-xs-12 statistics-project-section">
    <div class="tvd-sub-header">
        <table>
            <tr>
                <td>
                    <a class="main_expand_collapse">
                        <img class="expandimg" src="~/Content/Pictures/expand-sign.png" title="expand" height="18" width="18" align="absbottom" style="display: inline;">
                        <img class="collapseimg" src="~/Content/Pictures/collapse-sign.png" title="collapse" height="18" width="18" align="absbottom" style="display: none;">
                    </a>
                </td>
                <td>
                    <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
                       @Model.Title
                    </h1>
                </td>
            </tr>
        </table>
    </div>

    <div class="row expandable-content" style="display:none;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-md-9 col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
           
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.DepartmentID)
                </div>
                <div class="col-md-9 col-sm-9">
                    @if (Model.Department != null)
                    {
                        @Html.ActionLink(Model.Department.Title, "Details", "Departments", new { @id = Model.DepartmentID }, null)
                    }
                </div>
            </div>
          
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.StartDate)
                </div>
                <div class="col-md-9 col-sm-9">
                    @String.Format("{0:MM/dd/yyyy}", Model.StartDate)
                </div>
            </div>

            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name col-md-3 col-sm-3 control-label">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
                <div class="col-md-9 col-sm-9">
                    @String.Format("{0:MM/dd/yyyy}", Model.EndDate)
                </div>
            </div>
            <div class="form-group subsection col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="field-name full-field-name full-row col-md-12 col-sm-12">
                    Project Description
                </div>
                <div class="col-md-12 col-sm-12 full-row">
                    @Html.DisplayFor(model => model.PJDescription)
                </div>
            </div>
        </div>
        <div id="piechart-@Model.ProjectID" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 piechart-holder">
        </div>
    </div>
</div>