@model ResourceApplicationTool.Models.Education

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    //we will load the _LayoutPage only if this is not a pop-up
    if (!ViewBag.IsModal)
    {
        Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    }
}

<h3>Are you sure you want to delete "@Html.DisplayFor(model => model.Title)"?</h3>

<div>
    @*
        <dl class="dl-horizontal">
          <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Account)
        </dd>

    </dl>
*@
    @using (Html.BeginForm("Delete", "Educations", FormMethod.Post, htmlAttributes: new { @class = "educations-form" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (!ViewBag.IsModal)
            {
                <input type="submit" value="Delete" class="btn btn-default" />
                Html.ActionLink("Back to List", "Index");
            }
        </div>
    }
</div>
